DB_DIALECT=         # Dialecto de la base de datos (Vea https://sequelize.org/docs/v6/getting-started/ por los valores soportados)
DB_HOST=            # Host de la base de datos
DB_PORT=            # Puerto de la base de datos
DB_USER=            # Usuario de la base de datos
DB_PASSWORD=        # Contraseña del usuario
DB_NAME=            # Nombre de la base de datos
PORT=               # Puerto de la aplicación
SALT_ROUNDS=        # Número de rondas a usar para la encriptación de las contraseñas
JWT_SECRET=         # Secreto para cifrar JWTs
